<h2 class="center">Add Post</h2>

<form class="container">
  <div class="control">
    <span class="tag is-primary is-light"
      >POST ID: {{ currentPost.id === 0 ? "N/A" : currentPost.id }}</span
    >
    <input
      [(ngModel)]="currentPost.title"
      #title
      class="input"
      type="text"
      placeholder="Text input"
      name="title"
    />
  </div>
  <textarea
    [(ngModel)]="currentPost.body"
    #body
    class="textarea"
    placeholder="e.g. Hello world"
    name="body"
  ></textarea>
  <input type="hidden" name="id" [(ngModel)]="currentPost.id" />
  <button
    *ngIf="!isEdit"
    (click)="addPost(title.value, body.value)"
    id="button"
    class="button is-primary"
    name="id"
  >
    Add Post
  </button>
  <button
    *ngIf="isEdit"
    (click)="updatePost()"
    id="button"
    class="button is-primary"
    name="id"
  >
    Update Post
  </button>
</form>
