.card {
  padding: 1em;
  width: 25em;
  border: 1px solid #c5c5c5;
}

.profile-container {
  display: flex;
  align-items: center;
  margin-left: 2em;
}

.user-name {
  margin-left: 0.5em;
  margin-top: 0 !important;
  font-size: 1.6em;
}

img {
  width: 20%;
  border-radius: 50px;
}

.tag {
  list-style: none;
  display: block;
}

small {
  position: absolute;
  left: 351px;
  top: 9px;
}

.control {
  width: 30%;
}

.control .input {
  margin: 0.2em 0;
}
