<button
  (click)="showUserForm = !showUserForm"
  class="button is-primary is-small"
>
  Add User
</button>
<div *ngIf="showUserForm" class="field">
  <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)" class="control">
    <input
      [(ngModel)]="user.firstName"
      class="input"
      type="text"
      placeholder="first name"
      name="firstName"
      #userFirstName="ngModel"
      required
      minlength="2"
    />
    <input
      [(ngModel)]="user.lastName"
      class="input"
      type="text"
      placeholder="last name"
      name="lastName"
      required
      minlength="2"
    />
    <input
      [(ngModel)]="user.email"
      class="input"
      type="text"
      placeholder="email"
      name="email"
    />
    <button [disabled]="!enableAdd" class="button is-primary is-light">
      New User
    </button>
  </form>
</div>

<h4 *ngIf="!loaded">Loading...</h4>

<div class="content">
  <ul style="list-style: none" *ngIf="users.length > 0">
    <li
      class="card"
      *ngFor="let user of users"
      [class.notification]="user.isActive"
    >
      <div class="profile-container">
        <img *ngIf="user.image" [src]="user.image" />
        <h2 class="user-name">
          {{ user.firstName }} {{ user.lastName }}
          <small
            ><button class="button is-small" (click)="toggleHide(user)">
              <i [ngClass]="user.hide ? 'fa fa-plus' : 'fa fa-minus'">
              </i></button
          ></small>
        </h2>
      </div>
      <ul *ngIf="!user.hide">
        <li [class.is-light]="!user.isActive" class="tag is-link">
          <strong>Email</strong>: {{ user.email }}
        </li>
      </ul>
    </li>
  </ul>
</div>
