<app-post-form
  [currentPost]="currentPost"
  [isEdit]="isEdit"
  (newPost)="onNewPost($event)"
  (updatedPost)="updatedPost($event)"
></app-post-form>
<h2>Posts:</h2>

<div class="container">
  <article *ngFor="let post of posts" class="message is-info">
    <div class="message-header">
      {{ post.title }}
      <span class="icons-container">
        <i (click)="removePost(post)" class="far fa-trash-alt"></i>
        <i (click)="editPost(post)" class="far fa-edit"></i>
        <i
          routerLink="/posts/{{ post.id }}"
          class="fas fa-external-link-alt"
        ></i>
      </span>
    </div>
    <div class="message-body">
      {{ post.body }}
    </div>
  </article>
</div>
